# packages in environment at C:\Users\Brave\anaconda3\envs\HoneyCrisp:
#
# Name        
flask    
flask-sqlalchemy  
gunicorn
jinja2
numexpr 
numpy
numpy-base    
pandas
pip3
python
python-dateutil
scipy
sqlalchemy
sqlite
